#header {
    position: fixed;
    top: 0;
    background: #fff;
    transition: 1s all;
    z-index: 5;
}

#header div.inner {
    height: 90px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

#header div.inner h1 {
    position: absolute;
    top: 25%;
    left: 6%;
    z-index: 5;
}

#header div.inner h1 a {
    font-size: 0;
    display: block;
    width: 200px;
    height: 40px;
    background: url(https://whale.naver.com/_resource/img/main/logo_whale.svg) no-repeat center;
    background-size: contain;
}


/* 메인 메뉴 */
#header div.inner nav.gnb {
    width: 100%;
    position: absolute;
}

#header div.inner nav.gnb li {
    width: 153px;
}

#header div.inner nav.gnb ul.gnbTouch {
    height: 90px;
    line-height: 90px;
}

#header div.inner nav.gnb ul.gnbTouch li {
    display: inline-block;
}

#header div.inner nav.gnb ul.gnbTouch li a {
    font-size: 18px;
    font-weight: bold;
}

#header div.inner nav.gnb ul.gnbTouch li a:hover {
    color: #05c3a7;
}

#header div.inner nav.gnb div.gnbSubWrap {
    background: white;
    width: 100vw;
    position: relative;
    z-index: 5;
}

#header div.inner nav.gnb ul.gnbSub {
    height: 0;
    overflow: hidden;
    transition: .5s all;
}

#header div.inner nav.gnb ul.gnbSub ul {
    display: inline-block;
    padding: 20px 0;
    text-align: center;
    vertical-align: top;
}

#header div.inner nav.gnb ul.gnbSub ul li {
    height: 40px;
    line-height: 40px;
}

#header div.inner nav.gnb ul.gnbSub ul li a {
    color: #aaa;
}

#header div.inner nav.gnb ul.gnbSub ul li a:hover {
    color: black;
}


/* 모바일 메뉴 */
#header div.inner nav.gnbMobile {
    display: none;
}

#header div.inner nav.gnbMobile.active div.black {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 6;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav > li:first-child {
    height: 62px;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav {
    width: 0vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    font-size: 15px;
    transition: .5s all;
    overflow: auto;
    z-index: 6;
}

#header div.inner nav.gnbMobile.active ul.gnbMobileNav {
    width: 80vw;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li.active > a {
    color: #05c3a7;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li div.plus::before {
    content: "";
    width: 16px;
    height: 1px;
    background: black;
    position: absolute;
    top: calc(50% - 0.5px);
    left: calc(50% - 8px);
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li.active div.plus::before {
    background: #05c3a7;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li div.plus {
    width: 60px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li div.plus::after {
    content: "";
    width: 16px;
    height: 1px;
    background: black;
    position: absolute;
    top: calc(50% - 0.5px);
    left: calc(50% - 8px);
    transform: rotate(90deg);
    transition: 0.5s all;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li.active div.plus::after {
    background: #05c3a7;
    transform: rotate(0deg);
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li.active ul.gnbsub {
    display: block;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li ul.gnbsub {
    display: none;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li ul.gnbsub::before {
    content: "";
    width: 100%;
    height: 2px;
    background: #05c3a7;
    position: absolute;
    left: 0;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li ul.gnbsub li {
    display: block;
    margin: 0 5% 0 calc(5% - 20px);
    border-bottom: 1px solid #ccc;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li ul.gnbsub li a {
    display: block;
    width: 98%;
    padding-left: 2%;
    line-height: 44px;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav > li:not(:last-child) {
    width: calc(100% - 20px);
    padding-left: 20px;
    text-align: left;
    line-height: 50px;
    position: relative;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li ul.mobileDown li {
    padding: 10px 20px;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li ul.mobileDown li a {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li ul.mobileDown li:first-child a {
    color: #05c3a7;
    border: 1px solid #05c3a7;
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li ul.mobileDown li:last-child a::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/mobileMenu_download.svg) no-repeat;
    background-size: cover;
    transform: translate(-10px, 5px);
}

#header div.inner nav.gnbMobile ul.gnbMobileNav li ul.mobileDown li:last-child a {
    color: #aaa;
    border: 1px solid #aaa;
}


/* 햄버거 버튼 */
#header div.inner div.hamburger {
    display: none;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s all;
    cursor: pointer;
    z-index: 10;
}

#header div.inner div.hamburger::before {
    content: "";
    width: 28px;
    height: 2px;
    background: black;
    position: absolute;
    top: 35%;
    left: 25%;
    transition: 0.5s all;
}

#header div.inner div.hamburger span {
    width: 28px;
    height: 2px;
    background: black;
    position: absolute;
    top: 50%;
    left: 25%;
    opacity: 1;
    transition: 0.5s all;
}

#header div.inner div.hamburger::after {
    content: "";
    width: 28px;
    height: 2px;
    background: black;
    position: absolute;
    top: 65%;
    left: 25%;
    transition: 0.5s all;
}

#header div.inner > div.active::before {
    top: 50%;
    transform: rotate(-135deg);
}

#header div.inner > div.active span {
    opacity: 0;
}

#header div.inner > div.active::after {
    top: 50%;
    transform: rotate(135deg);
}

#header div.inner div.down a {
    position: absolute;
    top: 21%;
    right: 4%;
    width: 125px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #05c3a7;
    border-radius: 5px;
    color: #05c3a7;
    transition: 0.3s all;
    box-sizing: border-box;
}

#header div.inner div.down a:first-child:hover {
    color: white;
    background: #05c3a7;
}

#header div.inner div.scrollDown {
    background: url(../img/downloadScroll_btn.png) no-repeat;
    background-size: cover;
    width: 220px;
    height: 70px;
    padding-left: 60px;
    box-sizing: border-box;
    position: absolute;
    top: 90px;
    left: calc(50% - 110px);
    font-size: 24px;
    line-height: 70px;
    display: none;
}

#header div.inner div.scrollDown a {
    color: white;
}

@media screen and (max-width: 1600px) {
    #header div.inner h1 {
        left: 3%;
    }

    #header div.inner h1 a {
        width: 150px;
    }
}

@media screen and (max-width: 1280px) {
    #header div.inner h1 a {
        width: 150px;
    }

    #header div.inner nav.gnb ul.gnbTouch {
        width: 80%;
        margin: 0 auto;
    }

    #header div.inner nav.gnb ul.gnbTouch li {
        width: 13%;
    }

    #header div.inner nav.gnb ul.gnbTouch li a {
        font-size: 15px;
    }

    #header div.inner nav.gnb ul.gnbSub {
        width: 80%;
        margin: 0 auto;
    }

    #header div.inner nav.gnb ul.gnbSub ul {
        width: 13%;
    }

    #header div.inner nav.gnb ul.gnbSub ul li {
        width: 100%;
    }

    #header div.inner nav.gnb ul.gnbSub ul li a {
        font-size: 14px;
    }

    #header div.inner div.down a {
        top: 28%;
        width: 100px;
        height: 40px;
        font-size: 15px;
        line-height: 40px;
    }

    #header div.inner div.scrollDown {
        width: 200px;
        height: 64px;
        font-size: 20px;
        line-height: 64px;
        left: calc(50% - 100px);
    }
}

@media screen and (max-width: 980px) {
    #header div.inner {
        height: 60px;
    }

    #header div.inner h1 {
        top: 15%;
    }

    #header div.inner h1 a {
        width: 140px;
    }

    #header div.inner nav.gnb {
        display: none;
    }

    #header div.inner nav.gnbMobile {
        display: block;
    }

    #header div.inner div.hamburger {
        display: block;
    }    

    #header div.inner div.down {
        display: none;
    }

    #header div.inner div.scrollDown {
        display: none;
    }
}